{% extends 'base.html.twig' %}

{% block title %}Liste des établissements{% endblock %}

{% block body %}
<h1>Liste des établissements</h1>

<section>
<ul>
    {% for establishments in establishment %}
    <li>
        <h2 class="text-primary">{{establishments.name}}</h2>
        <div>{{establishments.finess}}</div>
        <div>{{establishments.address}}</div>
        <div>département numéro : {{establishments.department}}</div>
        <div>{{establishments.region}}</div>
        <div>{{establishments.geolocX}}</div>
        <div>{{establishments.geolocY}}</div>
        <ul>
            <h3>Liste des cartes lié à cette structure</h3>
            {% for map in establishments.map %}
                <li>{{map.name}}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

</section>
{% endblock %}
